 

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 16px;
}

.full-width {
  width: 100%;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

mat-form-field {
  width: 100%;
}

/* Responsive Styling */
@media (max-width: 480px) {
  .profile-container {
    width: 90%;
    padding: 15px;
  }

  h1 {
    font-size: 20px;
  }
}


.profile-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;

}

.cards-container {
  margin-top: 20px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}

.card-info {
  flex-grow: 1;
}

.card-actions {
  display: flex;
  gap: 10px;
}

.add-card-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}


.add-card-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}



.add-address-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-address-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.address-info {
  display: flex;
  justify-content: space-between; /* Align address to left, buttons to right */
  background: #f9f9f9;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}

.address-info .address-details {
  flex-grow: 1;
}

.address-info .address-actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.address-info p {
  margin: 5px 0;
}

.address-info strong {
  font-weight: bold;
}