<app-nav-bar></app-nav-bar>
<div class="container"> 
  
  <div class="search-filter-container">
    <mat-form-field class="search-field" appearance="fill">
      <mat-label>Search by Name</mat-label>
      <input matInput [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()" placeholder="Search for products">
    </mat-form-field>

    <mat-form-field class="category-field" appearance="fill">
      <mat-label>Filter by Category</mat-label>
      <mat-select [(ngModel)]="selectedCategory" (selectionChange)="onCategoryChange()">
        <mat-option *ngFor="let category of categories" [value]="category.ID">
          {{ category.Name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <div class="card-container">
    <div class="card-wrapper">
      <mat-card *ngFor="let product of filteredProducts" appearance="raised" class="product-card">
        <mat-card-header class="bold-header">
          {{ product.Name }}
        </mat-card-header>
        
        <mat-card-content class="content-wrapper">
          <div class="image-container">
            <img *ngIf="product.Image" [src]="serverUrl + uploadsUrl + product.Image"
                 alt="{{ product.Name }}" class="product-image">
          </div>
  
          <p class="product-price"><strong>Price:</strong> ${{ product.Price }}</p>
        </mat-card-content>
  
        <mat-card-actions class="button-container">
          <button *ngIf="!isAdmin" mat-flat-button class="action-button" (click)="addToCart(product.ID)">Add to Cart</button>
          <button *ngIf="isAdmin" mat-flat-button class="action-button" (click)="editProduct(product.ID)">Edit</button>
          <button mat-flat-button class="action-button" (click)="viewProduct(product.ID)">View</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
