.link {
    cursor: pointer;
    color: dodgerblue;
    text-decoration: none;
  }
  
  .fullscreen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  mat-card {
    width: 400px;
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .span-container {
    display: flex;
    justify-content: center;
  }
  
  span {
    text-align: center;
  }