<app-nav-bar></app-nav-bar>
<div class="fullscreen-container">
    <mat-card appearance="raised">
      <div class="container" [formGroup]="changePasswordForm">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Old Password</mat-label>
            <input matInput formControlName="old_password" type="password">
            <mat-error *ngIf="checkFormForErrors('old_password')">
              Old password is required.
            </mat-error>
          </mat-form-field>
        </div>
  
        <div>
          <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput formControlName="new_password" type="password">
            <mat-error *ngIf="checkFormForErrors('new_password')">
              New password is required.
            </mat-error>
          </mat-form-field>
        </div>
  
        <div class="button-container">
          <button mat-flat-button color="accent" (click)="onChangePassword()" [disabled]="isSubmitDisabled()">Submit Change Password</button>
        </div>
        <br>
      </div>
    </mat-card>
  </div>
  